@import url('https://googleapis.com'); /*Helps in getting importing font*/
/* TODO: Start working on the sidebar */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-app);
  overflow: hidden;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--bg-app);
  overflow: hidden;
}

 /* --------------------------------------Top Bar Section for CSS -------------------------------------------------*/

.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
}

h1 {  /*Takes care of the title logo of the web page*/
    font-family: 'Playfair Display', serif;
    font-size: 45px;
    color: var(--text-primary);
    border: 2px solid var(--bg-element); 
    background-color: var(--bg-element);
    border-radius: 9999px;   
    padding: 10px 20px;     
    display: inline-block;  
}

/* ---- Toggle Switch ---- */
.switch input { /* Hides the default/browser checkbox */
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.switch { /*Takes care of where the toggle will be at */
  position: relative;
  display: inline-block;
  width: 70px;
  height: 34px;
}

.day-light { /*Takes care of what the initial state of the toggle looks like*/
  position: absolute;
  cursor: pointer;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: black; /*Made black to be all the more clear of the exact purpose of the toggle switch*/
  transition: .4s;
  border-radius: 34px;
}

.day-light::before { /*makes the pseudo-element for cicular handle in toggle*/
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

/* Changes the background color when checked/clicked on */
input:checked + .day-light {
  background-color: var(--accent);
}

/* Move the circular ball to the right when clicked on, literally mimic a toggle*/
input:checked + .day-light::before {
  transform: translateX(35px);
}

.stats { /*Can worry about the dividing lines between each word later*/
    display:flex;
    gap: 50px;
    padding: 20px;
    margin-left: 200px; /*Consider putting to auto if need be depending on how page responds*/
    border: 0.5px solid #eeee;
    border-radius: 13px;
    color: var(--text-primary);
    background-color: var(--bg-element);
}



 /* --------------------------------------------Main Section for CSS -------------------------------------------------*/
/*TODO: Change the entire web page to fit exactly the screen, a bit off putting that there is a section where you have to scroll down a page for. Don't really like that. */
 #main {
  display: flex;
  flex-direction: row;
  flex: 1;
  padding: 25px;
  overflow: hidden;
}

#side-bar { /*properly formats the section labels in the side bar*/
  display: grid;
  width: 35vw;
  height: 73vh;
  grid-template-columns: 1fr 1.5fr;
  gap: 40px;
  padding: 20px;
  background-color: var(--bg-sidebar);
}

h2 { /*Sets the section labels*/
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  color: var(--text-muted);
}

#canvas-area {
  flex: 1;
  padding: 20px;
}

#grid-container {
  width: 100%; 
  height: 97%;
  aspect-ratio: 1;
  border: 1px solid var(--border-color);
  border-radius: 10px;
}