@import url('https://googleapis.com'); /*Helps in getting importing font*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: var(--bg-app);
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--bg-app);
}

 /* --------------------------------------Top Bar Section for CSS -------------------------------------------------*/

.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
}

h1 {  /*Takes care of the title logo of the web page*/
    font-family: 'Playfair Display', serif;
    font-size: 45px;
    color: var(--text-primary);
    border: 2px solid var(--bg-element); 
    background-color: var(--bg-element);
    border-radius: 9999px;   
    padding: 10px 15px;     
    display: inline-block;  
}

 /* --------------------------------------------Main Section for CSS -------------------------------------------------*/
#main {
  display: flex;
  flex-direction: row;
  flex: 1;
}

#side-bar {
  width: 400px;
  flex-shrink: 0;
  background-color: var(--bg-sidebar);
}

#canvas-area {
  flex: 1;
  padding: 20px;
}

#grid-container {
  width: 99%; 
  aspect-ratio: 1;
  border: 1px solid var(--border-color);
  border-radius: 10px;
}